* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.heading {
    border: 2px solid #6097d5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    width: 100%;
    border-radius: 100px;
    z-index: 1000;
    background-color: grey;
    margin-top: 0.6%;
    gap:1%;
}

.left {
    
    width: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2%;
    bottom: 2%;
    color: whitesmoke;
    justify-content: center;
}

.right {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    list-style: none;
    margin-right: 10px;
}

.headright a {
    position: relative;
    top: 8px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid;
    border-radius: 100px;
    margin-right: 10px;

}

.headright a:hover
{
    background-color: #6097d5;
    font-size: larger;

}


/* Home Section */

.container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap:2%;
    justify-content: space-between;
    position: relative;
    top: 100px;
}

.home {

    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    position: relative;
    top: 0px;
    left: 10px;
    padding: 20px;


}

.home1 {
    font-size: medium;
    position: relative;
    bottom: 5px;
    font-family: 'Winky Rough';
}

.home2 {
    font-size: larger;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Noto Sans';


}
.homeimage {
    flex: 1;
    max-width: 45%;
}
.homeimage img {
    width: 100%;
    height: auto;
    display: block;
}
.icons {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-bottom: 10px;
    justify-content: space-between;
    font-size: xx-large;
    font-weight: bolder;
}

hr {
    margin-top: 100px;
    color: grey;
    opacity: 40%;
}

/* About-Section */
.headings-head{
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 80px;
}
.about
{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-sub
{
    color:#293629;
    margin-bottom: 3px;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Winky Rough';
    
}
.about1
{
    font-family: 'EB Garamond';
    font-weight: 600;
    font-size:larger;
    padding:3px;
}
.education
{
    font-family: 'EB Garamond';
    font-weight: 600;
    padding:3px;
    font-size:larger;

}

.skills
{
    font-weight: 600;
    padding:3px;
    font-family: 'EB Garamond';
    font-size:larger;

}
.certificates
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style:none;
    justify-content: space-between;
    margin-top: 15px;
    padding:20px;
    gap:1%;
}

.certificates1 a
{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: burlywood;
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    
}
.certificates1 a:hover{
    font-size: x-larger;
    color:#293629;
}

/* Portfolio section */
.portfolio
{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
.portfolio-sub
{
    color:#293629;
    margin-bottom: 3px;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Winky Rough';
}
.projects
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1%;                
    padding: 3%;
    
}
.projects1{
    display: flex;
    width:20%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: 2px solid grey;
    list-style: none;
    padding: 3%;
    border-radius: 30px;
    background-color: aliceblue;
    margin-top: 10px;
}
.projects1 a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.images-port{

    border-radius: 100px;
    justify-content: center;
    width: 150px;
    height: 100px;
    object-fit: contain;   /* or cover */
    display: block;
    margin: 0 auto;
}

.images-port1
{
    background-color: grey;
    border: 2px solid white;
    padding:5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: large;
    color: whitesmoke;
}
.images-port1:hover
{
    color: black;
    font-size: larger;
}
.images-port2
{

    display: flex;
    justify-content: center;
    margin-bottom: 50px;
   font-family:'Winky Rough';
}


/* Experience Section */
.experience {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.experience-sub {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.images-exp1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.images-exp2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

/* Contact Section */
.Contact
{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    
}
.Contact-sub{
    font-weight: 600;
    font-family: 'EB Garamond';
    font-size:larger;
    background-color: grey;
    display: flex;
    margin-left: -30px;
    padding: 5px;
    justify-content: center;
    color: whitesmoke;
    border-radius: 10px;
}
.formgroup{
    padding: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.form {
    border: 2px solid rebeccapurple;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    padding: 1rem;           
    width: 100%;
    max-width: 400px;         
    background-color: aliceblue;
    margin: 50px auto;        
    position: relative;
    top: 50px;                 
}

.form1
{
    margin-left: 70px;
    font-size: x-large;
    font-weight: bolder;
    font-family: cursive;
}
html {
  scroll-behavior:smooth;
}

section {
  transition: all 0.6s ease-in-out;
  /* box-sizing: border-box; */
}

.headings-head {
  transition: transform 0.5s ease;
}
